body {}
#wrap {background-color: #F3F4F6;}
/* =============================================== header ================================================================== */
#wrap header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    padding: 0 50px;
}
#wrap header nav {}
#wrap header nav #category_depth1 {
    display: flex;
    flex-flow: row nowrap;
    font-size: 0.88rem;
}
#wrap header nav #category_depth1 > li {
    margin-right: 20px;
    display: flex;
    flex-flow: row nowrap;
}
#wrap header nav #category_depth1 > li .depth1_content {color: #fff; font-weight: 600;}
#wrap header nav #category_depth1 > li .depth1_content a {}
#wrap header nav #category_depth1 > li .category_depth2 {display: none;}
#wrap header nav #category_depth1 > li .category_depth2 li {}
#wrap header nav #category_depth1 > li .category_depth2 li a {}
#wrap header h1 {width: 360px;height: 100px;}
#wrap header h1 .logo {}
#wrap header h1 .logo img {width: 100%; margin-top: 15px;}  
#wrap header .lnb {
    display: flex;
    flex-flow: row nowrap;
    /* background-color: violet; */
}
#wrap header .lnb .recomment_container {}
#wrap header .lnb .recomment_container .product_name {margin-right: 10px;}
#wrap header .lnb .recomment_container .product_name .item_name {color: #fff; font-size: 0.69rem;}
#wrap header .lnb .recomment_container .product_name .item_name:nth-child(2), /* 잠깐 가려놈. 가못 */
#wrap header .lnb .recomment_container .product_name .item_name:nth-child(3) {display: none;}
#wrap header .lnb .lnb_category {
    display: flex;
    flex-flow: row nowrap;
}
#wrap header .lnb .lnb_category li {margin-right: 30px;}
#wrap header .lnb .lnb_category li .search {}
#wrap header .lnb .lnb_category li .search img {width: 100%;}
#wrap header .lnb .lnb_category li .search_open_menu {display: none;}
#wrap header .lnb .lnb_category li .search_open_menu .back {}
#wrap header .lnb .lnb_category li .search_open_menu #search_box {}
#wrap header .lnb .lnb_category li .search_open_menu #search_box img {width: 100%;}
#wrap header .lnb .lnb_category li .search_open_menu #search_box #text_enter {}
#wrap header .lnb .lnb_category li .search_open_menu .popular_search_wrap {}
#wrap header .lnb .lnb_category li .search_open_menu .popular_search_wrap .popular_item_container {}
#wrap header .lnb .lnb_category li .search_open_menu .popular_search_wrap .popular_item_container h1 {}
#wrap header .lnb .lnb_category li .search_open_menu .popular_search_wrap .popular_item_container .popular_items {}
#wrap header .lnb .lnb_category li .search_open_menu .popular_search_wrap .popular_item_container .popular_items .item {}
#wrap header .lnb .lnb_category li .search_open_menu .popular_search_wrap .popular_item_container .popular_items .item img {width: 100%;}
#wrap header .lnb .lnb_category li .search_open_menu .popular_search_wrap .popular_item_container .popular_items .item h2 {}
#wrap header .lnb .lnb_category li .search_open_menu .popular_search_wrap .recent_product_container {}
#wrap header .lnb .lnb_category li .search_open_menu .popular_search_wrap .recent_product_container h1 {}
#wrap header .lnb .lnb_category li .search_open_menu .popular_search_wrap .recent_product_container .delete {}
#wrap header .lnb .lnb_category li .search_open_menu .popular_search_wrap .recent_product_container .recent_product_items {}
#wrap header .lnb .lnb_category li .search_open_menu .popular_search_wrap .recent_product_container .recent_product_items p {}
#wrap header .lnb .lnb_category li .my_page {}
#wrap header .lnb .lnb_category li .my_page img {width: 100%;}
#wrap header .lnb .lnb_category li .cart {}
#wrap header .lnb .lnb_category li .cart img {width: 100%;}
#wrap header .pop_up_box {
    background-color: #ddd;
    position: absolute;
    right: 50px; top: 90px;
    padding: 15px 15px;
    font-size: 0.63rem;
    border-radius: 8px;
}
#wrap header .pop_up_box .text {margin-right: 80px;}
#wrap header .pop_up_box .back {}

/* =============================================== main ================================================================== */

#wrap main {}
#wrap main #hero_bnr {
    height: 100%;
    position: relative;
}
#wrap main #hero_bnr .hero_bnr_container {
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
}
#wrap main #hero_bnr .hero_bnr_container .slide {}
#wrap main #hero_bnr .hero_bnr_container .slide video {}
#wrap main #hero_bnr .hero_bnr_container .slide .content {}
#wrap main #hero_bnr .hero_bnr_container .slide .content h2 {font-size: 1.5rem;}
#wrap main #hero_bnr .hero_bnr_container .slide .content .content_btn {}
#wrap main #hero_bnr .hero_bnr_container .slide .content .content_btn a {}
#wrap main #hero_bnr .hero_bnr_container .slide .content .content_btn .purchase {}
#wrap main #hero_bnr .hero_bnr_container .slide .content .content_btn .campaign {}
#wrap main #hero_bnr .hero_bnr_container .slide .content .content_btn .play_game {position: relative; left: 34%; transform: translate(-50%);}
#wrap main #hero_bnr .hero_bnr_container .slide1 {}
#wrap main #hero_bnr .hero_bnr_container .slide2 {}
#wrap main #hero_bnr .hero_bnr_container .slide3 {}
#wrap main #hero_bnr .hero_bnr_container .slide3 p {}
#wrap main #hero_bnr .hero_bnr_container .slide3 p img {/* width: 100%; */}
#wrap main #hero_bnr .hero_bnr_container .slide4 {}
#wrap main #hero_bnr .pagenation {
    position:absolute;
    display: flex;
    flex-flow: row nowrap;
    z-index: 9999;
    left: 50%; transform: translateX(-50%); bottom: 20px;
}
#wrap main #hero_bnr .pagenation .pagenation_line {
    border: 1px solid #fff; 
    width: 100px; 
    height: 1px; 
    display: block; 
    margin-right: 12px;
}
#wrap main #new_products_container {
    overflow-x: scroll; 
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
} /* new_product img view port */
#wrap main #new_products_container .text_container {padding: 50px;position: relative; background-color: #F3F4F6;}
#wrap main #new_products_container .text_container h2 {}
#wrap main #new_products_container .text_container .more {}
#wrap main #new_products_container .product_container {
    width: max-content;
    display: flex;
    flex-flow: row nowrap;
    background-color: #F3F4F6;
}
#wrap main #new_products_container .product_container .product {
    width: max-content;
    width: 760px; 
    position: relative;
}
#wrap main #new_products_container .product_container .product .product_content {}
#wrap main #new_products_container .product_container .product .product_content img {width: 100%;}
#wrap main #new_products_container .product_container .product .text_box {
    position: absolute; left: 50px;  bottom: 80px;
}
#wrap main #new_products_container .product_container .product .text_box h3 {margin-bottom: 4px;}
#wrap main #new_products_container .product_container .product .text_box h3,
#wrap main #new_products_container .product_container .product .text_box p {
    font-size: 0.75rem;
}
#wrap main #new_products_container .product_container .product .text_box .wishlist_btn {
    font-size: 0.69rem;
    border-bottom: 1px solid #000;
    margin-top: 10px;
}
#wrap main #new_products_container .sub_container {position: relative;}
#wrap main #new_products_container .sub_container .item_view {
    background-color: #F3F4F6; 
    overflow: hidden; width:calc(84px * 7); 
    margin: 0 auto;
}
#wrap main #new_products_container .sub_container .item_view .item_view_container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}
#wrap main #new_products_container .sub_container .item_view .item_view_container .item {}
#wrap main #new_products_container .sub_container .item_view .item_view_container .item a {display: block; width: 84px;}
#wrap main #new_products_container .sub_container .item_view .item_view_container .item a img {width:100%;}
#wrap main #new_products_container .sub_container .view_more {
    position: absolute; 
    right: 32%; bottom: 25px; 
    font-size: 0.75rem;
}
#wrap main .best_seller {}
#wrap main .best_seller .best_seller_text {background-color: #F3F4F6;}
#wrap main .best_seller .best_seller_text h2 {}
#wrap main .best_seller .best_seller_text .more {}
#wrap main .best_seller .best_list_wrap {overflow: hidden;} /* best_seller img view port */
#wrap main .best_seller .best_list_wrap .best_seller_list {
    width: max-content; 
    display: flex;
}
#wrap main .best_seller .best_list_wrap .best_seller_list .product {position: relative;}
#wrap main .best_seller .best_list_wrap .best_seller_list .product .best_seller_product {width: 420px; display: block;}
#wrap main .best_seller .best_list_wrap .best_seller_list .product .best_seller_product img {width: 100%;}
#wrap main .best_seller .best_list_wrap .best_seller_list .product .text_box {
    position: absolute; left: 125px; bottom: 70px;
}
#wrap main .best_seller .best_list_wrap .best_seller_list .product .text_box h3 {
    font-size: 0.69rem; 
    margin-bottom: 4px; 
    font-weight: 500;
}
#wrap main .best_seller .best_list_wrap .best_seller_list .text_box p {
    font-size: 0.69rem; 
    color: #a1a1a1; 
    font-weight: 500;
}
/*  =============================================== footer ==================================================================  */

#wrap footer {padding: 20px 60px; position: relative; background-color: #F3F4F6;}
#wrap footer .fnb {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 16px;
}
#wrap footer .fnb li {margin-right: 10px;}
#wrap footer .fnb li a {font-size: 0.75rem; font-weight: 500;}
#wrap footer .fnb li a:nth-child(5) {}
#wrap footer .fnb li a:nth-child(8) {}
#wrap footer address {font-size: 0.56rem;}
#wrap footer address .email_address {font-size: 0.56rem; line-height: 1.2rem;}
#wrap footer address .number {}
#wrap footer .brand_name {
    font-size: 0.75rem; 
    font-weight: 600; 
    position: absolute; 
    right: 60px; bottom: 60px;
}